[Unit]
Description=Spotipi Player Service
After=redis-server.service

[Service]
User=pi
WorkingDirectory=/home/pi/spotipi
ExecStart=spotipi-player
EnvironmentFile=-/etc/spotipi-watchers/spotipi-watchers.conf
Environment=REDIS_HOST=127.0.0.1
Environment=REDIS_PORT=6379
Environment=ENV=production

[Install]
WantedBy=multi-user.target
