fastapi==0.103.2
SQLAlchemy==2.0.22
pydantic==2.4.2
uvicorn==0.23.2
SQLAlchemy-Utils==0.41.1
mfrc522==0.0.7
spotipy==2.23.0
alembic==1.12.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
itsdangerous==2.1.2
redis==5.0.1
websockets==12.0
pyttsx3==2.90
pydub==0.25.1
gTTS==2.4.0
Jinja2==3.1.2
jurigged
pyscard
